body {
  margin: 0;
}

[role="button"] {
  cursor: pointer;
}

[role="button"]:focus {
  outline: solid 2px blue;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Carousel__Mask {
  width: 300px;
  overflow: hidden;
}

.Carousel__Wrapper {
  display: flex;
}

.Carousel__Navigation {
  display: flex;
  justify-content: space-between;
}

.Carousel__Navigation__Button {
  outline: none;
  border: 0;
  padding: 10px;
}

.Carousel__Thumbnails {
  display: flex;
}

.Carousel__Thumbnails__Thumbnail {
  margin-right: 10px;
}

.Carousel__Thumbnails__Thumbnail.active {
  outline: solid 2px blue;
}
