body {
  margin: 0;
}

button {
  cursor: pointer;
}

[role='button'] {
  cursor: pointer;
}

[role='button']:focus {
  outline: solid 2px blue;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.ImageViewerCarousel {
  display: flex;
}

.ImageCarousel__Mask {
  position: relative;
  overflow: hidden;
}

.ImageCarousel__Wrapper {
  display: flex;
}

.ImageCarousel__Navigation {
  display: flex;
  justify-content: space-between;
}

.ImageCarousel__Navigation__Button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 3em;
  height: 3em;
  top: 50%;
  border-radius: 3em;
  transform: translateY(-50%);
}

.ImageCarousel__Navigation__Button.ImageCarousel__Navigation__ButtonNext {
  right: 8px;
}

.ImageCarousel__Navigation__Button.ImageCarousel__Navigation__ButtonPrev {
  left: 8px;
}

.ThumbnailCarousel {
  position: relative;
  margin-left: 10px;
}

.ThumbnailCarousel__ScrollContent {
  display: flex;
  position: absolute;
  overflow: hidden scroll;
}

.ThumbnailCarousel__Wrapper {
}

.ThumbnailCarousel__Thumbnail {
  margin-bottom: 2px;
}

.ThumbnailCarousel__Thumbnail:last-child {
  margin-bottom: 0;
}

.ThumbnailCarousel__Thumbnail.active {
  outline: solid 2px blue;
}
